@import '../../styles/variables.scss';

.dropdown{
  width: 48%;

  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    background-color: $primary;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    
    &:hover{
      cursor: pointer;
    }
  }

  .content{
    border-radius: 10px;
    min-height: 40px;
    max-height: 130px;
    background-color: $secondary;
    color: $primary;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  #Description{
    padding-right: 20px;
  }

  #Equipements{
    min-height: 100px;
    padding: 2px;
    padding-left: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.large{
  width: 80%;
  margin-bottom: 10px;
}

.small{
  width: 48%;
}

.hiddenHousing{
  display: none;
}

.visibleHousing{
  display: flex;
}

@media screen and (max-width: 500px){
  .dropdown{
    width: 100%;
    padding-top: 4px;

    .top{
      height: 30px;
      border-radius: 5px;
      font-size: 13px;
    }
  
    .content{
      border-radius: 5px;
      font-size: 12px;
      min-height: 40px;
      max-height: 100px;
      background-color: $secondary;
      color: $primary;

      padding-top: 5px;
      padding-bottom: 10px;
      padding-left: 20px;
      // border: 1px solid red;
    }

    #Equipements{
      padding-left: 20px;
    }
  }
}