@import '../../styles/variables.scss';

.home{
  width: 90%;
  height: 78vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: auto;
  scrollbar-color: $primary #f6f6f6;
  scrollbar-width: thin;

  &__ban{
    width: 1240px;
    min-height: 223px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;

    img{
      filter: brightness(50%)
    }

    .text{
      z-index: 30;
      color: white;
      position: absolute;
      top: 13%;
      left: 25%;
      font-size: 48px;
    }
  }

  &__cardBloc{
    max-width: 1240px;
    border-radius: 25px;
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
  }
}

// responsive mobile //
@media screen and (max-width: 500px){
  .home{
    overflow-x: hidden;
    
    &__ban{
      width: 100%;
      min-height: 111px;
      border-radius: 15px;
      margin-top: 10px;
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
  
      img{
        filter: brightness(50%)
      }
  
      .text{
        z-index: 30;
        color: white;
        position: absolute;
        top: 0%;
        left: 10%;
        width: 55%;
        font-size: 24px;
      }
    }
  
    &__cardBloc{
      background-color: white;
    }
  }
}