@import '../styles/variables.scss';

.whafCapsule{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow: auto;
  scrollbar-color: $primary #f6f6f6;
  scrollbar-width: thin;

  .header{
    width: 1240px;
    min-height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{
      width: 200px;
      display: flex;
      justify-content: center;
      align-items:flex-end;
      color: $primary;

      .vectorK{
        width: 54px;
        height: 62px;
        margin-right: 7px;
      }

      .vectorHome{
        width: 46px;
        height: 53px;
        margin-right: 7px;
      }

      .vectorDoor{
        margin-left: -23px;
        margin-bottom: 3px;
        margin-right: 20px;
      }

      .vectorS{
        width: 39px;
        height: 48px;
        margin-right: 7px;
      }

      .vectorA{
        width: 40px;
        height: 48px;
        margin-right: 7px;
      }
    }

    .right{
      width: 230px;
      display: flex;
      justify-content: space-between;

      button{
        border: none;
        background-color: white;
        color: $primary;
        font-size: 24px;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  .footer{
    background-color: black;
    width: 100%;
    min-height: 170px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo{
      margin-bottom: 15px;
      .vectorK{
        height: 36px;
        width: 31px;
        margin-right: 3px;
      }
  
      .vectorHome{
        height: 30px;
        width: 26px;
        margin-right: 3px;
      }

      .vectorFooterDoor{
        margin-left: -11px;
        margin-bottom: 2px;
        margin-right: 10px;
      }
  
      .vectorS{
        height: 27px;
        width: 22px;
        margin-right: 3px;
      }
  
      .vectorA{
        height: 27px;
        width: 23px;
        margin-right: 3px;
      }
    }
  }
}

// responsive mobile //
@media screen and (max-width: 500px){
  .whafCapsule{
    .header{
      width: 92%;
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;
  
      .left{
        padding-left: 10px;
        width: 150px;

        .vectorK{
          width: 37px;
          height: 43px;
        }
  
        .vectorHome{
          width: 31px;
          height: 36px;
        }
  
        .vectorS{
          width: 27px;
          height: 33px;
        }
  
        .vectorA{
          width: 28px;
          height: 33px;
        }
      }
  
      .right{
        width: 120px;
        margin-right: 10px;
  
        button{
          border: none;
          background-color: white;
          color: $primary;
          font-size: 12px;
        }
      }
    }

    .footer{
      height: 100px;
    }
  }
}